:root {
  --primary-color: #ff004f;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --grey-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #fff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray-color: #c5c5c5;
  --font: "Open Sans", sans-serif;
  --xxl-size: 4rem;
  --xl-size: 2.5rem;
  --l-size: 2rem;
  --m-size: 1.5rem;
  --s-size: 1rem;
  --xs-size: 0.5rem;
  --xl-font: 3rem;
  --light-weight: 300;
  --regular-weight: 400;
  --semibold-weight: 600;
  --bold-weight: 700;
  --black-weight: 900;
}

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: var(--lynx-white-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  padding: 10px;
  z-index: 1;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-app-info {
  display: flex;
  align-items: center;
}

.top-bar-app-info i {
  font-size: 20px;
  color: var(--primary-color);
}

.top-bar-app-name {
  margin: 0 10px;
  font-weight: 100;
  font-size: 21px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-basis: 550px;
  padding: 0 0 0 15px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--lynx-white-color);
}

.search-bar-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--primary-color);
  border: 1px solid var(--lynx-white-color);
  background-color: var(--lynx-white-color);
}
.search-bar-input:focus {
  outline: none;
}

.top-bar-right {
  display: flex;
}

.btn-top-bar-right {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: var(--black-color);
  padding: 7.5px 15px;
  border-radius: 20px;
  font-weight: var(--light-weight);
  font-size: 15px;
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.btn-top-bar-right i {
  font-size: 18px;
  margin: 0 5px 0 0;
}

.btn-top-bar-right:hover {
  color: var(--primary-color);
  transition-duration: 0.3s;
}

.top-bar-center {
  position: relative;
}

.search-results-section {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--lynx-white-color);
  width: 100%;
  height: 175px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.search-results-section ul {
  padding: 10px;
}

.search-list-item {
  padding: 15px 20px;
  color: var(--black-color);
  border-radius: 10px;
}

.search-list-item:hover {
  transition-duration: 0.2s;
  box-shadow: 0 10px 10px rgba(243, 145, 145, 0.4);
}
